# these python extensions are required for Ansible modules
httplib2
#http://github.com/diyan/pywinrm/archive/master.zip#egg=pywinrm
pexpect
pycurl
requests
yamllint==1.11.1
six==1.11.0
ansible
ansible-lint==3.4.23
molecule
ConfigParser
