# /etc/pip.conf
[global]
## Proxy config for Python libraries. Example:
## index-url = https://user:password@proxy:8443/artifactory/pypi/pypi-virtual/simple
{% if artifactory_hostname is defined%}
index-url = https://{{artifactory_hostname}}:{{artifactory_port}}/{{artifactory_repo_path}}
cert = {{artifactory_certificate_path}}
{% endif %}

[list]
format=legacy
