---
- include: iptables.yml
  when: ansible_os_family == 'RedHat' and ansible_distribution_major_version|int <= 6

- include: firewalld.yml
  when: ansible_os_family == 'RedHat' and ansible_distribution_major_version|int >= 7
