<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<html>
<head>
<title>Build server</title>


</head>
<body>
<h1>Jenkins</h1>
<p>
<ul>
	<li><a href="/jenkins">Jenkins</a></li>
</ul>
</p>

<h1>Selenium</h1>
<p>
<ul>
	<li><a href="selenium/winConfig.json">Linux config file</a></li>
    <li><a href="selenium/linConfig.json">windows config file</a></li>
    <li><a href="selenium/macConfig.json">Mac config file</a></li>
	<li><a href="selenium/node.sh">Mac/Linux Script</a></li>
	<li><a href="selenium/node.bat">Windows Script</a></li>
	<li><a href="selenium_pkg.zip">Scripts ZIP file</a></li>
</ul>

</p>

<hr noshade size="1" align="left" width="90%">

Created by Bas Meijer on Friday, 1 March 2019.

<br>
For more information, please refer to <a href="https://github.com/bbaassssiiee/buildserver">my Github page</a>.

</body>
</html>
