---

- name: Add jenkins repository
  include: repo.yml

- name: Install dependencies (git, svn, etc)
  include: dependencies.yml

- name: Install jenkins
  include: jenkins.yml

- name: Run configuration
  include: config.yml

- name: Install jenkins command line tools
  include: cli.yml

- name: Install/update jenkins plugins
  include: plugins.yml

#- name: enable passwords
#  include: security.yml

#- name: Test jenkins
#  include: test.yml
