---

- name: 'list plugins'
  become: yes
  shell: java -jar {{ jenkins_cli }} -s http://localhost:{{ jenkins_http }}/jenkins list-plugins | cut -f 1 -d ' '
  when: plugins is defined
  register: plugins_installed
  tags:
    - jenkins
    - plugins
    - update

- name: 'install/update plugins'
  become: yes
  command: "java -jar {{ jenkins_cli }} -s http://localhost:{{ jenkins_http }}/jenkins install-plugin {{ item }}"
  when: plugins_installed.changed and plugins_installed.stdout.find('item') == -1
  with_items: "{{ plugins }}"
  notify:
    - 'restart jenkins'
  tags:
    - jenkins
    - plugins
    - update
    - skip_ansible_lint

- name: 'list plugins to be updated'
  become: yes
  shell: java -jar {{ jenkins_cli }} -s http://localhost:{{ jenkins_http }}/jenkins list-plugins | grep ')$' | cut -f 1 -d ' ' | sed ':a;N;$!ba;s/\n/ /g'
  changed_when: no
  register: plugins_updates
  tags:
    - skip_ansible_lint
    - jenkins
    - update
    - plugins

- name: 'update plugins'
  become: yes
  command: "java -jar {{ jenkins_cli }} -s http://localhost:{{ jenkins_http }}/jenkins install-plugin {{ plugins_updates.stdout }}"
  when: plugins_updates.stdout != ''
  notify:
    - 'restart jenkins'
  tags:
    - jenkins
    - plugins
    - update
