
ProxyRequests Off
ProxyVia Off
ProxyPreserveHost On

# TODO: ajp
ProxyPass /jenkins http://localhost:8080/jenkins nocanon
ProxyPassReverse /jenkins http://localhost:8080/jenkins

ProxyPass /artifactory http://localhost:8081/artifactory
ProxyPassreverse /artifactory http://localhost:8081/artifactory

ProxyPass /nexus http://localhost:8082/nexus
ProxyPassreverse /nexus http://localhost:8082/nexus

ProxyPass /sonar http://localhost:9000/sonar
ProxyPassreverse /sonar http://localhost:9000/sonar
